@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: Sacramento, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
  color: #66bfbf;
  text-shadow: -2px 2px 0 coral;
}

.parent {
  position: relative;
  background-color: black;
  height: 500px;
  width: 500px;
}
.box {
  width: 100px;
  height: 100px;
}
/* sticky */
/* relative - fixed */

.b1 {
  background: coral;
}
.b2 {
  background: cornflowerblue;
  position: relative;
  z-index: 2;
}
.b3 {
  background: teal;
  position: relative;
  top: -50px;
}
.b4 {
  background-color: thistle;
}

/* static (default), relative , absolute , fixed and sticky */
