* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parent {
  position: relative;
  background-color: black;
  height: 500px;
  width: 500px;
}
.box {
  width: 100px;
  height: 100px;
}
/* sticky */
/* relative - fixed */

.b1 {
  background: coral;
}
.b2 {
  background: cornflowerblue;
}
.b3 {
  background: teal;
  position: sticky;
  top: 10px;
}
.b4 {
  background-color: thistle;
}

/* static (default), relative , absolute , fixed and sticky */
