* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  width: 100px;
  height: 100px;
}
/* relative */
/* element moves in relation to its orignal position */
/* remains part of document flow */

.b1 {
  background: coral;
  position: relative;
  top: 100px;
  left: 300px;
}
.b2 {
  background: cornflowerblue;
  position: relative;
  left: 400px;
  top: 100px;
}
.b3 {
  background: teal;
  position: relative;
  bottom: 200px;
  left: 400px;
}
.b4 {
  background: thistle;
  position: relative;
  bottom: 300px;
  left: 200px;
}

/* static (default), relative , absolute , fixed and sticky */
