* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parent {
  position: relative;
  background-color: black;
  height: 500px;
  width: 500px;
}
.box {
  width: 100px;
  height: 100px;
}
/* absolute */
/* element moves in relation to viewport (by default), but can be forced to move in relation to its parent */
/* doesn't remain part of document flow */

.b1 {
  background: coral;
}
.b2 {
  background: cornflowerblue;
}
.b3 {
  background: teal;
  position: absolute;
  bottom: 0;
  right: 0;
}
.b4 {
  background-color: thistle;
}

/* static (default), relative , absolute , fixed and sticky */
