* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  width: 100px;
  height: 100px;
}
/* fixed */
/* element moves in relation to viewport */
/* doesn't remain part of document flow */

.b1 {
  background: coral;
  position: fixed;
  bottom: 0;

  left: 0;
}
.b2 {
  background: cornflowerblue;
  position: fixed;
  bottom: 0;
  right: 0;
}
.b3 {
  background: teal;
  position: fixed;
  top: 0;
  right: 0;
}
.b4 {
  position: fixed;
  top: 0;
  left: 0;
  background: thistle;
}

/* static (default), relative , absolute , fixed and sticky */
