@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
}

p {
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 0.5rem;
}

hr {
  border: none;
  border-top: 15px teal dotted;
  width: 10%;
  margin: 1rem auto;
}
h1 {
  position: relative;
  z-index: 2;
  font-family: Sacramento, Arial, Helvetica, sans-serif;
  font-size: 5rem;
  font-style: italic;
  text-shadow: -2px 2px 0 coral;
}

.level-2 {
  font-size: 2rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  text-shadow: -2px 2px 0 coral;
}

.wrapper {
  padding: 4rem 8rem;
}

/* navbar */

nav {
  position: sticky;
  top: 0;
  background: #fff;
  padding: 1rem 8rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 12px 0 #333;
}

nav a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}

nav .logo {
  width: 30%;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.5rem;
}

nav ul {
  width: 30%;
  list-style: none;
  display: flex;
  align-items: center;
}
nav .nav_links {
  justify-content: center;
}

nav .social_links {
  justify-content: flex-end;
}
nav .social_links li {
  margin-left: 1rem;
}

nav .social_links li i {
  font-size: 1.5rem;
  color: #333;
}

nav .nav_links li {
  margin: 0 0.5rem;
}
/* blogs */
#blogs {
  background: thistle;
}

#blogs .blogs-header {
  display: flex;
  justify-content: space-between;
}
#blogs .blogs-header button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(118, 27, 27);
  color: #fff;
  font-family: sans-serif;
  border-color: transparent;
  border-radius: 30px;
}

#blogs .row {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
#blogs .row .col {
  width: 30%;
}
#blogs .row .col .card {
  box-shadow: 0 0 4px 0 grey;
  border-radius: 10px;
  overflow: hidden;
  border: 0.5px solid grey;
}
#blogs .row .col .card .card-header {
  max-height: 200px;
  overflow: hidden;
  object-fit: cover;
  border-bottom: 0.5px solid grey;
}
#blogs .row .col .card .card-body {
  padding: 1rem;
  background: #fff;
}
#blogs .row .col .card .card-body h3 {
  text-shadow: -2px 2px 0 coral;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
#blogs .row .col .card .card-body button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(118, 27, 27);
  color: #fff;
  font-family: sans-serif;
  border-color: transparent;
  border-radius: 30px;
}
#blogs .row .col .card .card-header img {
  width: 100%;
}

@media (max-width: 768px) {
  .wrapper {
    padding: 2rem;
  }

  nav {
    padding: 1rem;
  }
  nav .logo {
    width: 100%;
    text-align: center;
  }
  nav ul {
    display: none;
  }

  #blogs .blogs-header {
    text-align: center;
    flex-direction: column;
  }

  #blogs .row {
    flex-direction: column;
  }

  #blogs .row .col {
    width: 100%;
    margin-bottom: 1rem;
  }
  #blogs .row .col:last-child {
    margin-bottom: 0;
  }
}
